__pycache__/
.venv
.ipynb_checkpoints
.mypy_cache
.vscode
lightning_logs*

dataset/
dataset-jpg/
dataset-nih/
notebook/

dataset-jpg.zip
dataset-jpg-3x.zip
nih-chest-xrays-600-jpg-dataset.zip
kaggle.json
checkpoint/
submission.csv
dataset-jpg-2x/
dataset-jpg-3x/